version: '3'
services:
  spark-master:
    image: bde2020/spark-master:3.1.3-hadoop2.7
    container_name: spark-master
    ports:
      - "8090:8090"
      - "7077:7077"
    volumes:
      - /Users/rahulpoolanchalil/ISM:/Users/rahulpoolanchalil/ISM
    environment:
      - INIT_DAEMON_STEP=setup_spark
  spark-worker-1:
    image: bde2020/spark-worker:3.1.3-hadoop2.7
    container_name: spark-worker-1
    depends_on:
      - spark-master
    ports:
      - "8091:8091"
    environment:
      - "SPARK_MASTER=spark://spark-master:7077"
  spark-worker-2:
    image: bde2020/spark-worker:3.1.3-hadoop2.7
    container_name: spark-worker-2
    depends_on:
      - spark-master
    ports:
      - "8092:8091"
    environment:
      - "SPARK_MASTER=spark://spark-master:7077"
  spark-history-server:
      image: bde2020/spark-history-server:3.-hadoop2.7
      container_name: spark-history-server
      depends_on:
        - spark-master
      ports:
        - "18091:18091"
      volumes:
        - /Users/rahulpoolanchalil/ISM/dev-28112022/ism-quantexa-project-repo:/Users/rahulpoolanchalil/ISM/dev-28112022/ism-quantexa-project-repo
